<div class="flex mt-auto mb-auto">
  <div class="m-auto">
    <img *ngIf="isWorkTime;else restTime" src="../../../assets/images/workingIcon.png" alt="image" height="512" width="512">
  </div>
  <app-pomodoro-timer [workTime]="workTime" [breakTime]="breakTime" (changeSession)="changeSession($event)"  ></app-pomodoro-timer>
</div>

<app-like-session></app-like-session>


<ng-template #restTime>
  <img src="../../../assets/images/relaxing.png" alt="image" height="512" width="512">
</ng-template>




