<div [ngClass]="{'hidden': !windowOpened, 'flex': windowOpened }" class="flex flex-col rounded-3xl w-[15vw] min-w-[30vh] h-[35vh] z-20 bg-gray-200 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <div class="m-auto">
    <h1 class="text-2xl font-bold text-gray-900 dark:text-black">Settings</h1>
  </div>
  <div class="flex flex-row">
    <div class="m-auto">
      <form class="max-w-[5rem] mx-auto">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Work Time</label>
        <input [(ngModel)]="workTimeMinutes" name="workTime" type="number" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [placeholder]="workTimeMinutes" required />
      </form>
    </div>

    <div class="m-auto">
      <form class="max-w-[5rem] mx-auto">
        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Rest time:</label>
        <input [(ngModel)]="breakTimeMinutes" name="breakTime" type="number" aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [placeholder]="breakTimeMinutes" required />
      </form>
    </div>
  </div>


  <button type="button" (click)="changeTimes()" class="w-[50%] text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 m-auto">Validate</button>



  <svg class="absolute cursor-pointer top-2 right-2 h-6 w-6 text-black-500" (click)="windowCloseEvent.emit()" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <line x1="18" y1="6" x2="6" y2="18" />  <line x1="6" y1="6" x2="18" y2="18" /></svg>
</div>
