<div class='bg-[#7b737336] flex shadow-md py-4 px-4 sm:px-10 font-[sans-serif] min-h-[70px] tracking-wide relative z-50 '>
  <div class="flex m-auto">
    <label for="AcceptConditions" class="relative inline-block h-8 w-14 cursor-pointer rounded-full bg-[#575C6C] transition [-webkit-tap-highlight-color:_transparent] has-[:checked]:bg-blue-400">
      <input type="checkbox" (change)="changeMode($event)" id="AcceptConditions" class="peer sr-only" />
      <span class="absolute inset-y-0 start-0 m-1 size-6 rounded-full bg-gray-200 ring-[6px] ring-inset ring-white transition-all peer-checked:start-8 peer-checked:w-2 peer-checked:bg-white peer-checked:ring-transparent"></span>
    </label>
    <h1 class="text-center font-bold text-blue-950 text-xl ml-4">DarkMode</h1>
  </div>


  <div class='flex flex-wrap items-center justify-between gap-5 w-full'>
      <h1 class="m-auto text-3xl font-bold text-black-300"> Like a Pomodoro app but better </h1>
  </div>
  <svg class="h-8 w-8 text-black-500 cursor-pointer"  viewBox="0 0 24 24" (click)="clickParameter()" fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <circle cx="12" cy="12" r="3" />  <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z" /></svg>

</div>

<app-settings  (windowCloseEvent)="clickParameter()"  [windowOpened]="windowOpened" ></app-settings>

