<div class="flex flex-col m-auto border border-white py-1.5 rounded-2xl p-[50px] h-[100%]">
  <div class="flex items-center justify-center w-full gap-1.5 count-down-main m-auto mb-7 ">
    <div class="timer m-auto">
      <div
        class="rounded-xl border border-white py-1.5 w-[10vh] flex items-center justify-center flex-col gap-0 aspect-square px-1.5">
        <h3
          class="countdown-element minutes font-manrope font-semibold text-[3vh] text-white text-center">
          {{ timeVariable.minutes }}
        </h3>
        <p class="text-[1.5vh] font-inter capitalize font-normal text-white text-center w-full">Minutes</p>
      </div>
    </div>
    <h3 class="font-manrope font-semibold text-2xl text-gray-900">:</h3>
    <div class="timer m-auto">
      <div
        class="rounded-xl border border-white py-1.5 w-[10vh] flex items-center justify-center flex-col gap-0 aspect-square px-1.5">
        <h3
          class="countdown-element seconds sec font-manrope font-semibold text-[3vh] text-white text-center">
          {{ timeVariable.seconds }}
        </h3>
        <p class="text-[1.5vh] font-inter capitalize font-normal text-white text-center w-full">Seconds</p>
      </div>
    </div>
  </div>
  <div class="bg-white rounded-xl shadow-sm overflow-hidden p-1">
    <div class="relative h-6 flex items-center justify-center">
      <div class="absolute top-0 bottom-0 left-0 rounded-lg bg-blue-200" [style.width.%]="getPercentage()"></div>
      <div class="relative text-blue-900 font-medium text-sm">{{getPercentage()}}%</div>
    </div>
  </div>
  <div class="flex m-auto mt-5 cursor-pointer">
    <button *ngIf="!timerStarted;else pauseTimerButton" type="button" (click)="startTimer()" class="m-auto w-[300px] text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 font-medium rounded-3xl text-2xl px-5 py-2.5 text-center">Start pomodoro</button>
    <svg class="m-auto ml-3 bg-green-400 rounded-xl h-10 w-10 text-black p-1.5"  (click)="restartSession()" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="1 4 1 10 7 10" />  <polyline points="23 20 23 14 17 14" />  <path d="M20.49 9A9 9 0 0 0 5.64 5.64L1 10m22 4l-4.64 4.36A9 9 0 0 1 3.51 15" /></svg>
  </div>
</div>







<ng-template #pauseTimerButton>
  <button type="button" (click)="pauseTimer()" class="m-auto w-[300px] text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 font-medium rounded-3xl text-2xl px-5 py-2.5 text-center">Pause pomodoro</button>
</ng-template>
